html, 
body {
	height:100%;
} 

ion-icon {
    font-size: 1rem;
}

#heroSection,
#article {
	width: 100%; 
	height: 100vh; 
}



/* The hero image section*/
#heroSection {
    background-image: linear-gradient(#2db8e212, #0000008c), url("../img/hero_image.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
    position: relative;
}

.hero-text {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


#heroSection > div > a.btn {
	border: 3px solid;
	background-color: transparent;
	
}

#heroSection > div > a.btn:hover {
	color: #141c3a;
	border-color: #141c3a; 
}

div .jumbotron {
	position: relative;
}

.jumbotron p:last-child {
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.container-height {
	min-height: 1320px;
	max-height: 2000px
}

#myCode {
	min-height: 850px;
	height: 100vh;
	background-color: #141c3a;
}



.code_pen {
	margin-top: 5rem;
}